* {
    box-sizing: border-box;
    font-family: 'Karla';
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 30px 20px;
    height: 100vh;
    position: relative;
}

div#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pulseGlow {
    0% { transform: scale(1); text-shadow: 0 0 5px gold; }
    50% { transform: scale(1.05); text-shadow: 0 0 20px gold; }
    100% { transform: scale(1); text-shadow: 0 0 5px gold; }
  }

.win-message {
    position: absolute;
    color: #FFFFFF;
    top: 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    animation: pulseGlow 2s infinite;
    width: 80%;
    margin: auto;
}

.container {
    background-color: #F5F5F5;
    width: 100%;
    max-width: 290px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.description {
    text-align: center;
    color: #4A4E74;
    font-size: 0.9rem;
    width: 95%;
    margin-top: 0;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 1rem;
}

.die-btn {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.roll-btn, .new-game-btn{
    background-color: #5035FF;
    width: 92px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}

.stats {
    color: #FFFFFF;
    text-align: center;
}

.stats h1 {
    margin: 0;
}

.stats-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}