* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 30px 20px;
    height: 100vh;
}

div#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #F5F5F5;
    width: 100%;
    max-width: 400px;
    height: 320px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.die-btn {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 3px rgba(189, 195, 199, 0.5);
}

.dice-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}